@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0;
    font-family: "Trajan Color";
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
}


/* .logo{
    padding-top: 1%;
    padding-left: 3%;
    /* width:95%; */
    /* height: 14%; */
    /* width:100px; */
    /* cursor:pointer;
    margin-left: 2%;
}  */
.rotate{
    animation: rotation 8s infinite linear;
    height: 14%;
    margin-top: 1%;
    /* padding-left: 3%; */
    margin-left: 3%;
 }

@keyframes rotation{
 from{
     transform: rotate(0deg);
 }
 to{
     transform: rotate(359deg);
 }
}



.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:black;
}
.login-box h1{
    float: right;
    margin-right: 30%;
    font-size: 50px;
    border-bottom: 8px solid violet;
    margin-bottom: 40px;
    padding: 13px 0 ;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin:8px 0;
    border-bottom: 1px solid violet;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid violet;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.tn{
    color: #fbfcfd;
    /* padding-left: 5px; */
    padding: 10px 25px;
    background: blueviolet;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    background-color: grey;
}

.error{
   /* background: white; */
   color:red;
   padding: 5px;
   width:100%;
   border-radius: 5px;
}