body{
    margin: 0;
    padding: 0;
    font-family: "Trajan Color";
    /* background-color: transparent;   */

    /* background: transparent; */
    /* background-size: cover; */
}

.page{
    /* background-image: none; */
    background-image: transparent;
    /* background:transparent; */
}

.logo{
    width:100px;
    cursor:pointer;
    margin-left: 1.8%;
    margin-top: 1%;
}
.rotate{
    animation: rotation 8s infinite linear;
 }

@keyframes rotation{
 from{
     transform: rotate(0deg);
 }
 to{
     transform: rotate(359deg);
 }
}



img{
    max-width: 100%;
        max-height: 70%;
        /* display: block; */
    /* box-sizing: border-box; */
    margin-top: 0;
    margin-bottom: auto;
   }


 .card {
    /* Add shadows to create the "card" effect */
    background-color: white;
    /* box-shadow: 0 0 0 0 rgba(0,0,0,0.2); */
    height: 400px;
    width: 300px;
    transition: 0.5s;
    box-shadow: #11101029 0px 0px 3px;
    /* border-style: double; */
   /* border-width: thick; */
  }


  .fo{
      font-size: medium;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    /* transform-origin: top; */
    transform: scale(1.03);
    /* size: 15px; */
    background-color: gray;
    /* transform-style: preserve-3d; */
    /* z-index: 5; */
  }
  
  /* Add some padding inside the card container */
  /* .container {
    padding: 2px 16px;
  } */