/* *{
  background-image: url("../images/bg.jpg") no-repeat;
  background-size: cover;
} */
/* body{
  background-color: black;
  color: #fff;
} */

.page{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    background-color: rgb(61, 51, 51);
    background-size: cover;
   background-position: center;
   position: relative;
   /* overflow: hidden;  */
}


.sidenav {
    width: 130px;
    position: fixed;
    /* z-index: 1; */
    top: 25%;
    left: 5%;
    /* background: #eee; */
    overflow-x: hidden;
    /* padding: 8px 0; */
  }
  
  .main {
    border: none;
    margin-left: 15%; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    background: transparent;
  }
   button{
    margin-right: 5%;
    background: blueviolet;
    padding: 5px 12px;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    /* margin-left: 100%0; */
  

  }

button:hover {
  background-color: gray;
}


.bu{
  background-color:none;
}

button a{
  text-decoration: none;
  color: #fff;
}

  select{
    width: 100%;
    height: 33px;
  }

  .cart{
    align-items:right;
    float: right;

  }

  
img{
  max-width: 100%;
      max-height: 70%;
      /* display: block; */
  /* box-sizing: border-box; */
  margin-top: 0;
  margin-bottom: auto;
 }


.card {
  /* Add shadows to create the "card" effect */
  background-color: white;
  /* box-shadow: 0 0 0 0 rgba(0,0,0,0.2); */
  height: 400px;
  width: 300px;
  transition: 0.5s;
  box-shadow: #11101029 0px 0px 3px;
  /* border-style: double; */
 /* border-width: thick; */
}


.fo{
    font-size: medium;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
  /* transform-origin: top; */
  transform: scale(1.03);
  /* size: 15px; */
  background-color: gray;
  /* transform-style: preserve-3d; */
  /* z-index: 5; */
}